<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SiMovies</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
         
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="cambia('list')">Lista dei Film</a>
        </li>
        <li class="nav-item dropdown">
          
          
        </li>
        <li class="nav-item">
         
        </li>
      </ul>
      <form class="d-flex">
        
        <button class="btn btn-outline-success" type="submit" (click)="cambia('rent')">Noleggia Film</button>
        
      </form>
      <button class="btn btn-outline-success" type="button" (click)="cambia('create')">Aggiungi Film</button>
    </div>
  </div>
</nav>



<main>
  <div [ngSwitch]= "selected">
    <div *ngSwitchDefault>
      <app-movie-list [movielist]='movies' (showmovie) = 'mostraMovie($event)' (editmovie) = "editDetail($event)"></app-movie-list>
    
    </div>
    <div *ngSwitchCase ="'rent'">
      <app-rent-movie></app-rent-movie>
    </div>
    <div *ngSwitchCase ="'detail'">
      <app-movie-detail [movie]='selectedMovie'></app-movie-detail>
    </div>
    <div *ngSwitchCase ="'edit'">
      <app-edit-movie (movieupdated)="updateMovie($event)" [movie]="selectedMovie"></app-edit-movie>
    </div>
    <div *ngSwitchCase ="'create'">
      <app-create-movie (movieCreated)="createMovie($event)" [lastId]="lastId"></app-create-movie>
    </div>
  </div>
  
</main>